* {
    box-sizing: border-box;
  }
  .modal-content {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .modal {
    position: absolute;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: ease 2s;
    animation-fill-mode: both;
  }
   html {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 700;
  }
   .text {
       color: white;
       text-transform: uppercase;
   }
  
  @keyframes ease {
    0% {
    top: 0px;
    
    }
    100% {
      top: 300px;

    }
  }
  
  