.form-control {
  margin-left: 40px;
  margin-top: 8px;
}
.languages {
  margin-left: 40px;
  margin-top: 8px;
}
.form-controll {
  margin-left: 40px;
  margin-top: 32px;
}
button {
  margin-left: 40px;
  margin-top: 8px;
}